  <%# <div class="flex "> %>
    <div class="flex justify-center">
      <%=
        form_for :list, '/lists' do
          div class: 'input' do
            text_field :name, class: "border shadow parent w-full text-grey-darker py-2 px-3 my-2", placeholder: 'List Name'
          end
          
          hidden_field :user_id, value: user.id

          div class: 'controls' do
            submit 'Create', class:"bg-grey hover:bg-grey-dark font-semibold text-sm text-white py-1 px-2 rounded"
          end
        end
      %>
    </div>
  <%# </div> %>

  <%=
    form_for :session, '/sessions/logout', method: :delete do
      submit 'Log Out'
    end
  %>


<% if lists.any? %>
  <div class="flex flex-wrap my-3 mx-4">
    <% lists.each do |list| %>
      <div class="overflow-hidden shadow-md px-6 py-4 mx-2 my-2">
        <div class="flex flex-wrap justify-between my-3">
          <div class="text-grey-dark"><h2><%= list.name %></h2></div>
    
          <%# delete list button %>
          <%=
            form_for :list, '/lists/delete' do
              hidden_field :id, value: list.id

              div class: 'controls' do
                submit 'X', class: "bg-grey hover:bg-grey-dark text-sm font-semibold text-white px-1 rounded"
              end
            end
          %>
        </div>

        <% if list.items.any? %>
          <div id="items">
            <% list.items.each do |item| %>
              <div id= "item">
                <div class="flex">
                  <%# remove item button for each item if any %>
                  <%= 
                    form_for :item, '/items/delete' do
                      div class: 'input' do
                        hidden_field :id, value: item.id
                      end

                      div class: 'controls' do
                        submit 'x', class:"bg-white text-sm font-semibold text-grey-dark mx-3 rounded"
                      end
                    end
                  %>

                  <%# list each item if any %>
                  <div class="overflow-auto text-grey-darker"><%= item.text %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <p class="placeholder"></p>
        <% end %>

        <%# add new item form %>
        <%=
          form_for :item, '/items' do
            div class: 'input' do
              text_field :text, class: "border shadow parent w-full text-grey-darker py-2 px-3 my-2", placeholder: 'New Item'
            end

            hidden_field :list_id, value: list.id

            div class: 'controls' do
              submit 'Add', class:"bg-grey hover:bg-grey-dark font-semibold text-sm text-white py-1 px-2 rounded"
            end
          end
        %>

      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no lists yet.</p>
<% end %>
