<div class='text-5xl text-grey-dark ml-3 my-8'>Welcome.</div>

<div class='flex flex-col'>
	<% unless flash[:signup_success].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:signup_success] %></div>
	<% end %>
  <% unless flash[:confirmed].nil? %>
    <div class='text-center text-red text-xs italic'><%= flash[:confirmed] %></div>
	<% end %>
	<% unless flash[:recovery].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:recovery] %></div>
	<% end %>
	<% unless flash[:recovery_error].nil? %>
		<div class='text-center text-red text-xs italic'><%= flash[:recovery_error] %></div>
	<% end %>
</div>
 

<div class="flex justify-center">
  <div class="login button">
    <%=
      form_for :login, '/sessions/new', method: 'GET' do
        submit 'Log In', class: 'bg-grey mt-8 hover:bg-grey-dark font-semibold text-white py-2 px-3 mx-6 rounded'
      end
    %>
  </div>

  <div class="signup button">
    <%=
      form_for :signup, '/users/new', method: 'GET' do
        submit 'Sign Up', class: 'bg-grey mt-8 hover:bg-grey-dark font-semibold text-white py-2 px-3 mx-6 rounded'
      end
    %>
  </div>
</div>
