<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet 'application' %>
		<%= stylesheet 'new_output' %>
		<%= stylesheet 'index' %>
		<%= javascript 'Sortable' %>
		<meta name="csrf" content= <%= csrf_token %>>

		<title>Lists</title>
		<%= favicon %>
	</head>
	<body class="bg-grey-lighter h-screen">
		<%= yield %>
	</body>
</html>
