<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet 'application' %>
		<%= stylesheet 'new_output' %>
		<%= stylesheet 'index' %>
		<%= javascript 'Sortable' %>
		<%= javascript 'app' %>
		<meta name="csrf" content= <%= csrf_token %>>

		<title>Lists</title>
		<%= favicon %>
	</head>
	<body class="bg-grey-lighter h-screen">
		<div class="p-6 mb-4 bg-white">
			<div class="text-center font-semibold text-5xl text-grey-dark tracking-wide">lists</div>
		</div>
		<%= yield %>
	</body>
</html>
